/.idea/
/.venv/
/.out/
*.iml
*.csv
out/production/XzPk/skimepk2$Win.class
out/production/XzPk/skimepk2.class
out/production/XzPk/slimepk$CalculationTask.class
out/production/XzPk/slimepk$ChunkInfo.class
out/production/XzPk/slimepk.class
out/production/XzPk/执行class.bat
out/production/XzPk/生成class.bat
